{
  "main":{
    "game": "csgo",
    "buff_session_id": "1-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "bitskins_api_key": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "bitskins_api_endpoint": "https://bitskins.com/api/v1/{}/?api_key={}&code={}&app_id={}",
    "buff_api_endpoint": "https://buff.163.com/market/?game={}#tab=selling&page_num={}&category_group={}&min_price={}&max_price={}&quality={}",
    "request_interval": 5,
    "two_factor_secret": "XXXXXXXXXXXXXXXXX",
    "show_browser_window": false,
    "min_amount_for_sale":10
  },
  "csgo": {
    "min_price": 100,
    "max_price": 105,
    "category_group": "knife",
    "show_stattrak": false
  }
}
